.combinationsm {
  display: flex;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.combinationsm > * {
  width: calc(50% - 27px);
  display: flex;
  flex-direction: column;
  row-gap: 55px;
}
.combinationsm > * .head {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.combinationsm > * .head .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.combinationsm > * .head .top .text {
  font-weight: 500;
}
.combinationsm > * .head .top .plus {
  background-color: yellow;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.combinationsm > * .combinationCard {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  align-items: center;
  background-color: #F6F6F6;
  height: 98px;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 1px 9px 23px -4px rgba(0, 0, 0, 0.1);
  border: 1px solid #F6F6F6;
  margin: 9px 0;
}
.combinationsm > * .combinationCard:hover {
  border: 1px solid blue;
}
.combinationsm > * .combinationCard .left {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.combinationsm > * .combinationCard .left .imgContainer {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.combinationsm > * .combinationCard .left .imgContainer img {
  height: 100%;
}
.combinationsm > * .combinationCard .left .name {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}
.combinationsm > * .combinationCard .left .name span {
  font-size: 7px;
}
.combinationsm > * .combinationCard .left .name span:last-child {
  font-size: 7px;
}
.combinationsm > * .combinationCard .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.combinationsm > * .combinationCard .right .status .active {
  width: 50px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: #fff;
  font-size: 8px;
}
.combinationsm > * .combinationCard .right .status .inActive {
  width: 50px;
  height: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c4c8;
  font-size: 8px;
}
.combinationsm .catagoryCombination .catagoryCombinationContainer {
  max-height: calc(100vh - 240px);
  overflow: scroll;
}
.combinationsm .productCombination .head .search {
  width: 260px;
  position: static !important;
  display: block;
  margin: 0 !important;
  align-self: end !important;
  display: flex;
  justify-content: end;
  background-color: #a2a2af;
  align-items: center;
}
.combinationsm .productCombination .head .search input {
  border: none;
  outline: none;
  background-color: #a2a2af;
  padding: 4px 6px;
  color: #000;
  transition: 0.2s;
}
.combinationsm .productCombination .head .search i {
  width: 40px;
}
.combinationsm .productCombination .productCombinationContainer {
  max-height: calc(100vh - 290px);
  overflow: scroll;
}
@media (max-width: 800px) {
  .combinationsm {
    flex-direction: column;
  }
  .combinationsm .productCombination {
    margin-top: 40px;
  }
  .combinationsm > * {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .combinationsm {
    flex-direction: row;
  }
  .combinationsm > * {
    width: calc(50% - 27px);
  }
}
@media (max-width: 740px) {
  .combinationsm {
    flex-direction: column;
  }
  .combinationsm .productCombination {
    margin-top: 40px;
  }
  .combinationsm > * {
    width: 100%;
  }
}
.popoupforms .todoPopupForm {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.popoupforms .todoPopupForm.active {
  opacity: 1;
  visibility: visible;
}
.popoupforms .todoPopupForm form {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 800px !important;
  padding: 26px;
  margin: auto auto;
  margin-top: 60px;
  max-height: calc(100vh - 100px);
  overflow: scroll;
  background-color: #FBFBFB;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  border-radius: 10px;
  padding-bottom: 60px;
  position: relative;
}
.popoupforms .todoPopupForm form .heading {
  font-size: 17px;
  font-weight: 500;
  width: calc(100% - 52px);
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
}
.popoupforms .todoPopupForm form .mainContainer {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.popoupforms .todoPopupForm form .mainContainer .left {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popoupforms .todoPopupForm form .mainContainer .left img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popoupforms .todoPopupForm form .mainContainer .right {
  width: calc(70% - 40px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.popoupforms .todoPopupForm form .mainContainer .right .fields {
  display: flex;
  flex-direction: column;
}
.popoupforms .todoPopupForm form .mainContainer .right .fields input {
  border: none;
  outline: none;
  box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 4px 7px;
  border-radius: 8px;
}
.popoupforms .todoPopupForm form .mainContainer .right .fields .checkbox {
  width: -moz-fit-content;
  width: fit-content;
}
.popoupforms .todoPopupForm form .mainContainer .right .submit {
  position: relative;
  top: 30px;
  background-color: green;
  width: 50px;
  outline: none;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  color: #fff;
}
.popoupforms .todoPopupForm form .mainContainer .right i {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
@media (max-width: 660px) {
  .popoupforms .todoPopupForm form .mainContainer {
    flex-direction: column;
  }
  .popoupforms .todoPopupForm form .mainContainer .left {
    width: 100%;
  }
  .popoupforms .todoPopupForm form .mainContainer .right {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .popoupforms .todoPopupForm form {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */